@{
    ViewBag.Title = "Upload";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Upload an image</h1>
        <p class="lead text-muted">We'll put it somewhere safe, like an Azure blob.</p>
        @using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
        {
            <p>
                <label class="btn btn-primary">
                    Add image <input class="btn btn-primary" name="file" type="file" id="file" style="display: none;">
                </label>
            </p>
        }
    </div>
</section>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.min.js" integrity="sha256-sSF4G6GdnMRF5ZKZOLYGcPvU0BTvmPMFaQ6025ZB+Nk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/plugins/jquery.lazy.ajax.min.js" integrity="sha256-uQvfHo7VKZFNpuEmueDtC1/4i21aJiaG38ubIskMSF0=" crossorigin="anonymous"></script>
    <script src="~/Scripts/site.js"></script>
}